<mat-toolbar class="toolbar">
    <span class="header_text" routerLink = '/login'>Flowers</span>
    <span style = "flex: 1 1 auto;"></span>
    
    <a *ngIf="!apiService.LoggedIn()" class="nav-div" routerLink = '/login'>Log in</a> 
    <a *ngIf="!apiService.LoggedIn()" class="nav-div" routerLink = '/register'>Register</a> 
    

    <button *ngIf="apiService.LoggedIn()" class="nav-div" mat-button [matMenuTriggerFor]="menu">{{apiService.getUserName()}}</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item><a routerLink="/dashboard">Dashboard</a></button>
      <button mat-menu-item><a routerLink="/profile">Profile</a></button>
      <button mat-menu-item><a *ngIf="apiService.LoggedIn()"  (click)="apiService.logout()">Log out</a> </button>
    </mat-menu>
    
</mat-toolbar>



